<template>
    <v-content>
        <section>
            <v-parallax src="assets/hero.jpeg" height="600">
                <v-layout column align-center justify-center class="white--text">
                    <img src="assets/vuetify.png" alt="Vuetify.js" height="200">
                    <h1 class="white--text mb-2 display-1 text-xs-center">Olá Mundo!</h1>
                    <div class="subheading mb-3 text-xs-center">Um lugar para mandar oi para o mundo</div>
                </v-layout>
            </v-parallax>
        </section>
        <section>
            <v-layout column wrap class="my-5" align-center>
                <v-flex xs12 sm12 class="my-3">
                    <div class="text-xs-center">
                        <h2 class="headline">Quem está dando oi!</h2>
                        <hr>
                        <span class="subheading">
                            Veja quem acabou de mandar um
                            <b>Olá Mundo!</b>
                        </span>
                    </div>
                </v-flex>
                <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                        <v-btn fab dark color="primary" right bottom fixed @click="helloDialog = !helloDialog">
                            <v-icon dark>edit</v-icon>
                        </v-btn>
                        <v-flex xs6 sm4 md3 v-for="(hello, i) in hellos" :key="i">
                            <v-card
                                class="elevation-2"
                                dark
                                :color=" i==0 ? 'light-blue darken-4' : 'primary'"
                            >
                                <v-card-title primary-title class="layout justify-center">
                                    <v-icon x-large class="white--text">person</v-icon>
                                    {{hello.firstname}}
                                </v-card-title>
                                <v-card-text class="text-xs-center">
                                    <div class="headline text-xs-center">
                                        <span>Olá Mundo!</span>
                                        <br>
                                        <span class="caption">{{hello.created_at}}</span>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-layout>
        </section>

        <section>
            <v-layout column wrap class="my-5" align-center>
                <v-flex xs12 sm12 class="my-3">
                    <div class="text-xs-center">
                        <h2 class="headline">Repositórios</h2>
                        <hr>
                        <span>Baixe os repositórios e faça
                            <code>deploy</code> você mesmo
                        </span>
                    </div>
                </v-flex>
                <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                        <v-flex xs12 sm6 class="my-3" text-xs-center>
                            <v-btn class="mt-5" large href="https://gitlab.com/marciodojr/helm-hello-app"
                                color="primary">Hello App</v-btn>
                        </v-flex>
                        <v-flex xs12 sm6 class="my-3" text-xs-center>
                            <v-btn class="mt-5" large href="https://gitlab.com/marciodojr/helm-hello-api"
                                dark color="red">Hello Api</v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-layout>
        </section>
        <section>
            <v-parallax src="assets/section.jpg" dark height="380">
                <v-layout column align-center justify-center>
                    <code>Tchau Mundo! o/</code>
                </v-layout>
            </v-parallax>
        </section>
        <v-footer dark height="auto">
            <v-layout row wrap justify-center class="my-5">
                <v-flex xs12 sm4>
                    <v-card class="elevation-0 transparent">
                        <v-card-title primary-title class="layout justify-center">
                            <div class="headline">Sobre o GDG</div>
                        </v-card-title>
                        <v-card-text>
                            <p class="text-xs-justify">
                                A plataforma GDG é um nível de associação dentro do amplo programa Google Developers Community Groups e oferece suporte
                                personalizado aos organizadores dos capítulos locais do GDG.
                            </p>
                            <p class="text-xs-justify">
                                Os GDGs são grupos locais de desenvolvedores que estão especificamente interessados em produtos e APIs do Google. Cada grupo local é chamado de capítulo GDG
                                e pode hospedar uma variedade de atividades técnicas para desenvolvedores - de apenas algumas pessoas se reunindo para assistir nossos vídeos mais recentes,
                                para grandes reuniões com demos e palestras técnicas, até hackathons.
                            </p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm4 offset-sm1>
                    <v-card class="elevation-0 transparent">
                        <v-card-title primary-title class="layout justify-center">
                            <div class="headline">Converse com a gente!</div>
                        </v-card-title>
                        <v-card-text>Dúvidas e sugestões podem ser enviadas pelos seguintes contatos:</v-card-text>
                        <v-list class="transparent">
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon class="blue--text text--lighten-2">phone</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>+55 (35) 000-000-000</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon class="blue--text text--lighten-2">place</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <a
                                            href="https://www.google.com/maps/place/Rua+Doutor+Jos%C3%A9+Sanches,+66+-+Centro,+Itajub%C3%A1+-+MG,+37500-026/@-22.4256257,-45.4532443,19z/data=!3m1!4b1!4m5!3m4!1s0x94cb7cac5740198f:0x3a4c70759e3e8579!8m2!3d-22.4256257!4d-45.4526971"
                                            target="_blank"
                                            class="white--text"
                                        >Itajubá, Brasil</a>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon class="blue--text text--lighten-2">email</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>marciojr91@gmail.com</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-footer>
        <new-hello :isopen="helloDialog" @accept="prependHello" @cancel="helloDialog=false"/>
    </v-content>
</template>

<script>

import NewHello from '@/components/dialogs/NewHello';

export default {
    layout: 'website',
    components: {
        NewHello
    },
    async asyncData({ app: { $axios } }) {
        let res = await $axios.$get('/hello?amount=8')
            .catch(e => {console.log(e)})

        return {
            hellos: res ? res.data.items : []
        }
    },
    data() {
        return {
            helloDialog: false
        };
    },
    methods: {
        prependHello(hello) {
            this.hellos.unshift(hello);
            this.helloDialog = false;
        }
    }
}
</script>
