<template>
    <v-dialog v-model="dialog" max-width="500px">
        <v-card>
            <v-card-title>
                <span>
                    <v-icon class="mr-2">language</v-icon><b>Olá o/!</b>
                </span>
                <v-spacer></v-spacer>
                <v-btn slot="activator" icon @click="cancel">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text>
                <v-text-field ref="firstname" prepend-icon="person" type="text" v-validate="'required|min:3|max:30'" v-model="firstname"
                    :error-messages="errors.collect('nome')" label="Nome" data-vv-name="nome"
                    required @keyup.enter="accept" focusable></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" flat @click.stop="cancel">Desistir</v-btn>
                <v-btn color="primary" flat @click.stop="accept">Salvar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
export default {
    props: {
        isopen: Boolean
    },
    data() {
        return {
            dialog: false,
            firstname: ''
        }
    },
    methods: {
        accept() {
            this.$validator.validateAll();

            if(!this.isFormValid) {
                return;
            }

            this.$axios.$post('/hello', {
                firstname: this.firstname
            }).then(resp => {
                this.$emit('accept', resp.data)
            })
        },
        cancel() {
            this.$emit('cancel')
        }
    },
    created() {
        this.dialog = this.isopen
    },
    computed: {
        isFormValid() {
            return !Object.keys(this.fields).some(
                key => this.fields[key].invalid
            )
        }
    },
    watch: {
        isopen(val) {
            // changes from parent
            this.$validator.reset();
            this.dialog = this.isopen
            this.firstname = '';
            console.log(val);
            if(val) {
                setTimeout(() => {
                    this.$refs.firstname.focus();
                }, 300);
            }
        },
        dialog() {
            // changes from child
            if (!this.dialog) {
                this.cancel()
            }
        }
    }
}
</script>
